
/* HEADER */
.a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: linear-gradient(90deg, #227979, #00bfa5);
  color: white;
  position: sticky;
  top: 0;

}

.b {
  display: flex;
  align-items: center;
  gap: 10px;
}

.b img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.a h1 {
  margin: 0;
  font-size: 1.5em;
}

.c a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.c a:hover,
.c .actif {
  text-decoration: underline;
}
.d {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("../Foto/widih.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;

}

.e {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 20px;
  
}

.e h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.e p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.f {
  background-color: #00c49a;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.f:hover {
  background-color: #009b78;
}

/* DESTINASI */
.g {
  padding: 70px 10%;
  text-align: center;
}

.g h2 {
  font-size: 2rem;
  color: #008b8b;
  margin-bottom: 40px;
  font-weight: 600;
}

.h {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.i {
  background: #fff;
  width: 300px;
  border-radius: 15px;
 
  overflow: hidden;
  transition: transform 0.3s ease;
}

.i:hover {
  transform: translateY(-10px);
}

.i img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.i h3 {
  color: #008b8b;
  margin: 15px 0;
}



.j {
  display: inline-block;
  background-color: #00bfa5;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  margin-bottom: 20px;
  transition: 0.3s;
}

.j:hover {
  background-color: #009b78;
}

/* FOOTER */
.k {
  text-align: center;
  background-color: #008b8b;
  color: white;
  padding: 15px 0;
 
  margin-top: 50px;
}
