
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f8f8;
  color: #333;
}

/* Header */
.a {
  background: #007b83;
  color: white;
  padding: 15px 0;
  text-align: center;

}



.a img {
  width: 50px;
  height: 50px;

}


.a a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.c {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.c h2 {
  color: #007b83;
}

.d {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  margin-top: 20px;
}

.d input,
.d textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.e {
  background: #007b83;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.e:hover {
  background: #005f63;
}

/* Footer */
.f {
  text-align: center;
  background-color: #008b8b;
  color: white;
  padding: 15px 0;
  font-size: 0.9rem;
  margin-top: 50px;
}
